*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: #1c1e21;
    line-height: 1.5;
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}
.facebook_container{
    margin: 200px;
}
.facebook{
    display: flex;
    gap: 200px;
    align-items: center;
    justify-content: center;
}

.text h1{
    color: blue;
    font-weight: 600;
    font-size: 62px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1.7px;
}
.text p{
    font-size: 28px;
    font-weight: 400;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form{
    width: 400px;
}
form{
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
    border-radius: 10px;
    margin: 0 auto
}
.form input{
    padding: 10px;
    width: 90%;
    margin:7px 15px;
    border: 0.3px solid #1c1e21;
    border-radius: 5px;
    font-size: 16px;
}
button{
    width: 90%;
}
.login{
    color: white;
    background-color: blue;
    border-radius: 7px;
    padding: 12px;
    margin: 7px 15px;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.account{
    display: flex;
    width: 60%;
    padding: 18px;
    font-size: 20px;
    background-color: forestgreen;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
hr{
    margin: 20px;
    color: #1c1e21;
}
p{
    margin-top: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
span{
    font-weight: bold;
    font-size: 17px;
}
