*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(30, 38%, 92%);
    color: black;
    width: 100%;
    min-height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
    background-color: hsl(0, 0%, 100%);
    width: 340px;
}
.container .images img{
    width: 340px;
    border-radius: 10px 10px 0px 0px;
}
.desktop{
    display: none;
}
.text{
    padding: 20px 30px;
}
.text h3{
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 4px;
    color: hsl(228, 12%, 48%);
}
.text h1{
    padding-top: 5px;
    line-height: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text p{
    padding-top: 5px;
    line-height: 1.4;
    color: hsl(228, 12%, 48%);
}
.price{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
}
.price h2{
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: hsl(158, 36%, 37%);
}
.price h4{
    color: hsl(228, 12%, 48%);
    font-weight: lighter;
    text-decoration: line-through;
}
.button{
    padding: 10px 0;
    margin: 5px 20px 0;
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.button:hover{
    background-color: hsl(158, 42%, 18%);
}
.button p, .button i{
    color: hsl(0, 0%, 100%);
}
@media (min-width: 1440px){
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1220px;
}
.moblie{
    display: none;
}
.desktop{
    display: flex;
}
}