*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: #ffffff;
    color: #000;
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
}
header{
    background-color: #007bff;
    padding: 50px;
}
header h1{
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
}
main{
    margin: 0 200px;
}
h2{
    color: #007bff;
    font-size: 30px;
    padding-top: 35px;
    padding-left: 120px;
    padding-right: 120px;
}
p{
    font-size: 20px;
    padding: 35px 120px;
}
code{
    font-size: 15px;
    padding: 35px 120px;
    text-align: left;
    font-family: 'Courier New', monospace;
}
table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 2rem;
        }

        th, td {
            padding: 0.8rem;
            border: 1px solid #ddd;
        }

        th {
            background-color: #007bff;
            color: #fff;
        }

        ol, ul {
            font-size: 1.1rem;
            margin-bottom: 1.5rem;
            padding-left: 2rem;
        }
