*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #94A3B8;
    width: 100%;
    justify-content: center;
    min-height: 100vh;
}

.inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
    width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.scan{
    margin-top: 10px;
    background-color: #FAEB92;
    width: 360px;
    height: 400px;
    border-radius: 10px;
}
.scan img{
    width: 300px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text{
    margin: 30px 0;
    padding: 0 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.text h1{
    font-size: 28px;
    line-height: 1.2;
    font-weight: 650;
}
.text p{
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
}

span{
    color: #9929EA;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}