*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    color: #000;
    width: 100%;
}
.logo img{
    margin: 30px;
    width: 120px;
}
.image img{
    width: 100%;
}
.desktop{
    display: none;
}
.cta{
    margin: 70px 30px 40px;
}
.mlogo{
    display: none;
}
.cta h1{
    text-align: center;
    line-height: 1.2;
    font-size: 42px;
    font-weight: 150;
    letter-spacing: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
span{
    font-family: "Delius Swash Caps", cursive;
    font-weight: 300;
    font-style: normal;
    color:  hsl(0, 74%, 74%);
    letter-spacing: 10px;
}
.cta p{
    margin-top: 30px;
    color:  hsl(0, 74%, 74%);
    font-size: 17px;
    font-weight: lighter;
    text-align: center;
    font-family: "Delius Swash Caps", cursive;
}
input{
    display: flex;
    border: 1px solid hsl(0, 80%, 86%);
    border-radius: 25px;
    padding: 15px 20px;
    width: 80%;
    margin: 30px auto 60px;
}
input::placeholder{
    color: hsl(0, 80%, 86%);
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (min-width: 1440px){
    .container{
        display: flex;
        width: 100%;
        height: 100vh;
        width: auto;
        justify-content: space-between;
    }
    .logo{
        display: none;
    }
    .mobile{
        display: none;
    }
    .desktop{
        display: block;
        height: 100%;
        width: 60%;
    
    }
    .mlogo{
        display: block;
        margin-top: 70px;
    }
    .mlogo img{
        margin: 0;
    }
    .text{
        display: flex;
        flex-direction: column;
    }
    .cta{
        margin: 0;
        position: absolute;
        left: 10%;
    }
    .cta h1, .cta p{
        text-align: left;
    }
    .cta h1{
        padding-top: 90px;
        font-size: 60px;
    }
    .cta p{
        width: 40%;
        font-size: 20px;
    }
    input{
    border: 1px solid hsl(0, 80%, 86%);
    width: 40%;
    margin: 40px 0;
}
}
